<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47822334424-stuigmlqlq3913gsjsrkjmfn5lkalmvb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47822334424-stuigmlqlq3913gsjsrkjmfn5lkalmvb</string>
	<key>API_KEY</key>
	<string>AIzaSyA9zDzcML5Dr2AW6mAhyagXWrzt4AEx2X0</string>
	<key>GCM_SENDER_ID</key>
	<string>47822334424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yi.Eventsletter</string>
	<key>PROJECT_ID</key>
	<string>eventsletter</string>
	<key>STORAGE_BUCKET</key>
	<string>eventsletter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47822334424:ios:3fff5391f9b3a59081eaad</string>
	<key>DATABASE_URL</key>
	<string>https://eventsletter.firebaseio.com</string>
</dict>
</plist>